/*
Colores:
	Fondo: 			#2B353A
	Enfasis: 		#A81616
	Principal: 		#37474F
	Secundario:		#323F46

	Boton_Editar; #40476D
*/

* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: arial;
	color: #fff;
}

.Boton_Editar {
	background-color: #40476D;
	color: #fff;
	margin-left: 15px;
	margin-bottom: 5px;
	border: 1px solid #40476D;

}

.Enfasis {
	background: #A81616;
	background-color: #A81616;
}

.Principal {
	background: #37474F;
}

.Secundario {
	background: #323F46;
}

.Fondo {
	background: #2B353A;
	background-color: #2B353A;
	padding: 10px 10px;
	text-align: center;
}

hr {
	background: #2B353A;
}

.navbar {
	margin-bottom: 20px;
	background: #A81616;
	box-shadow: 0px 10px 6px -4px rgba(0, 0, 0, 0.75);
}

.boton {
	background-color: #A81616;
	color: #fff;
	margin-left: 15px;
	margin-bottom: 5px;
	border: 1px solid #A81616;
}

.sombra {
	box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.75);
}

.b-footer {
	background: #37474F;
	padding: 20px;
}

.img {
	display: block;
	margin: auto;
}

footer {
	background: #2B353A;
	padding: 10px 10px;
	text-align: center;
}

.img-container img {
	width: 100%;
	height: auto
}

.container-fixed {
	width: 80%;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #A81616;
	background-color: #323F46;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #37474F;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #A81616;
}

/* Style the tab content */
.TabContent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #A81616;
	border-top: none;
}

.editor {
	display: inline-flex;
	gap: 10px;
	font-family: monospace;
	line-height: 21px;
	background: #37474F;
	border-color: #FFF;
	border-radius: 2px;
	padding: 20px 10px;
}

.TextArea {
	line-height: 21px;
	overflow-y: hidden;
	padding: 0;
	border: 0;
	background: #37474F;
	color: #FFF;
	border-color: #FFF;
	outline: none;
	resize: none;
}

.iframe-svg {
	max-width: 100%;
	height: auto;
	border: none;
	display: block;
	margin: 0 auto;
}